
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Montserrat:wght@100;200&display=swap');

/*font-family: 'Comfortaa', cursive;
font-family: 'Montserrat', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/*
font-family: 'Open Sans', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');

/*
font-family: 'Comforter', cursive;
*/



/*
     Colour Set1

     background -- #EEEEEE
     Red -- #DA1212
     lightBlue -- #11468F
     darkBlue -- #041562
*/


*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}



nav{
    padding: 10px;
    /* background-color: #211C6A; */
    background-color: #041562;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-nav{
    color: white;
    font-size: 20px;
}

.connect-btn{
    padding: 7px;
    background-color: #211C6A;
    border: 2px solid;
    border-color: green;
    border-radius: 50px;
    color: green;
    font-size: 14px;
    font-weight: bolder;
}
.connect-btn:hover{
    cursor: pointer;
    background-color: green;
    color: white;
}

.body-main{
    margin: 20px;
    display: flex;
}
.body-left{
    width: 30%;
}
.body-left-top{
    padding: 10px;
    background-color: #EEEEEE;
    border-radius: 40px;
    border : 0px;
}
.info-container{
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    margin: 40px;
    color: #041562;
}
.arm-txt{
    color: green;
}


.body-left-bottom{
    padding: 10px;
    background-color: #EEEEEE;
    border-radius: 40px;
    border : 0px;
    margin-top: 40px;
}
.rows{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.btn{
    padding: 7px;
    background-color: #EEEEEE;
    color: #041562;
    border: 2px solid;
    border-color: #041562;
    border-radius: 40px;
    font-size: 14px;
    width: 80px;
}
.btn:hover{
    background-color: #041562;
    color: white;
    cursor: pointer;
}

.btn-red{
    padding: 7px;
    background-color: #EEEEEE;
    color: #DA1212;
    border: 2px solid;
    border-color: #DA1212;
    border-radius: 40px;
    font-size: 14px;
    width: 80px;
}
.btn-red:hover{
    background-color: #DA1212;
    color: white;
    cursor: pointer;
}

/* Style the dropdown button */
.dropbtn {
    background-color: #EEEEEE;
    color: #041562;
    padding: 7px;
    font-size: 16px;
    border: 2px solid;
    border-radius: 40px;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #041562;
    color: white;
  }
  
.body-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}
#map{
    border-radius: 20px;
}